<section class="bg-white dark:bg-gray-900 py-8 px-4">
    <div class="max-w-screen-xl mx-auto">
      <div class="bg-gray-100 dark:bg-gray-800 p-6 rounded-lg shadow-md">
        <h3 class="text-gray-900 dark:text-white text-3xl mb-6">Información de Ayuda</h3>
        <p class="text-gray-800 dark:text-gray-300 mb-4">Bienvenido a nuestra biblioteca virtual. Aquí te ofrecemos una guía rápida sobre cómo navegar en nuestro sitio:</p>
        <ul class="list-disc list-inside text-gray-800 dark:text-gray-300">
          <li class="mb-2">
            <strong class="text-gray-900 dark:text-white">Inicio:</strong> En la página de inicio, encontrarás una selección de libros destacados. Estos libros se seleccionan por su popularidad o relevancia actual.
          </li>
          <li class="mb-2">
            <strong class="text-gray-900 dark:text-white">Catálogo:</strong> En la sección de catálogo, puedes explorar todos los libros disponibles. Cada libro muestra su estado (disponible, prestado, etc.) para que sepas si puedes tomarlo prestado.
          </li>
          <li class="mb-2">
            <strong class="text-gray-900 dark:text-white">Préstamos:</strong> Si estás interesado en tomar prestado un libro, puedes registrarte para un préstamo a tu nombre. Una vez que hayas solicitado un préstamo, recibirás un correo electrónico de confirmación.
          </li>
          <li class="mb-2">
            <strong class="text-gray-900 dark:text-white">Devolución de libros:</strong> Para devolver un libro, el administrador de la página habilitará la opción de devolución. Después de devolver el libro, recibirás un mensaje de confirmación por correo electrónico indicando que la devolución se ha completado con éxito.
          </li>
        </ul>
        <p class="mt-4 text-gray-800 dark:text-gray-300">
          Si tienes alguna pregunta adicional o necesitas asistencia, no dudes en contactarnos a través de nuestro correo de soporte: <a href="mailto:libraryups@support.com" class="text-blue-500 dark:text-blue-300">libraryups&#64;support.com</a>.
        </p>
      </div>
    </div>
  </section>
  