<section class="bg-white dark:bg-gray-900 py-8 px-4">
    <div class="max-w-screen-xl mx-auto">
      <div class="bg-gray-100 dark:bg-gray-800 p-6 rounded-lg shadow-md text-center">
        <h3 class="text-gray-900 dark:text-white text-3xl mb-6 font-bold">Información Legal</h3>
        <p class="text-gray-800 dark:text-gray-300 mb-4">
          Este sitio web es una biblioteca virtual que proporciona acceso a una amplia gama de libros digitales. Todos los derechos están reservados. El uso no autorizado de cualquier contenido en este sitio web, incluidos textos, imágenes y otros materiales, está estrictamente prohibido y puede violar las leyes de derechos de autor y marcas registradas.
        </p>
        <p class="text-gray-800 dark:text-gray-300 mb-4">
          Las marcas comerciales, logotipos y marcas de servicio (colectivamente, las "Marcas") que aparecen en este sitio web son propiedad de la biblioteca virtual o de otros terceros. Nada de lo contenido en este sitio web debe interpretarse como concesión, por implicación, impedimento o de otra manera, de ninguna licencia o derecho para utilizar cualquier Marca mostrada en el sitio web sin el permiso por escrito de la biblioteca virtual o de dicho tercero que pueda poseer las Marcas.
        </p>
        <p class="text-gray-800 dark:text-gray-300 mb-4">
          La biblioteca virtual se reserva el derecho de modificar o actualizar los términos y condiciones de uso en cualquier momento sin previo aviso. Se recomienda a los usuarios que revisen periódicamente esta sección para estar al tanto de cualquier cambio.
        </p>
      </div>
    </div>
  </section>
  