
<div class="container mx-auto p-5 bg-gray-900 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-5">
    <h2 class="text-xl font-bold mb-4 text-white">Reporte: Cantidad de Préstamos por Usuario</h2>
    <div class="overflow-x-auto">
        <table class="min-w-full bg-gray-800 dark:bg-gray-700 text-white">
            <thead class="bg-gray-700 text-gray-200">
                <tr>
                    <th class="px-4 py-2 text-left">Usuario</th>
                    <th class="px-4 py-2 text-left">Cantidad de Préstamos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cantidadPrestamosPorUsuario | keyvalue" class="border-t border-gray-700 even:bg-gray-750 odd:bg-gray-800">
                    <td class="px-4 py-2">{{ item.key }}</td>
                    <td class="px-4 py-2">{{ item.value }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  