/* Estilos opcionales para el componente de reportes */
h2 {
    margin-top: 20px;
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  