<div class="relative bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
    <div class="flex flex-col items-center justify-between p-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4">
      <div class="w-full md:w-1/2">
        <form class="flex items-center space-x-4">
          <div class="relative w-full">
            <input type="text" id="simple-search" name="search" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" (input)="filtrarLibros()"
              class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Buscar por título">
          </div>
          <select [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}" (change)="filtrarLibros()"
            class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option value="">Todas las categorías</option>
            <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
          </select>
          <select [(ngModel)]="selectedAuthor" [ngModelOptions]="{standalone: true}" (change)="filtrarLibros()"
            class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option value="">Todos los autores</option>
            <option *ngFor="let autor of autores" [value]="autor">{{ autor }}</option>
          </select>
          <select [(ngModel)]="selectedAvailability" [ngModelOptions]="{standalone: true}" (change)="filtrarLibros()"
            class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option value="">Todos</option>
            <option value="disponible">Disponibles</option>
            <option value="no-disponible">No disponibles</option>
          </select>
        </form>
      </div>
    </div>
  </div>
  
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="container mx-auto p-5 bg-gray-50 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="libro-list">
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <li *ngFor="let libro of filteredLibros" class="libro-item bg-white dark:bg-gray-900 rounded-lg p-4 shadow-md flex flex-col space-y-2">
              <div class="flex items-center justify-between">
                <h2 class="text-lg font-bold">{{ libro.titulo }}</h2>
                <span class="text-sm text-gray-500 dark:text-gray-400">ID: {{ libro.libroId }}</span>
              </div>
              <p><strong>Autor:</strong> {{ libro.autor }}</p>
              <p><strong>Descripción:</strong> {{ libro.descripcion }}</p>
              <p><strong>Género:</strong> {{ libro.genero }}</p>
              <p><strong>Editorial:</strong> {{ libro.editorial }}</p>
              <p><strong>Disponibilidad:</strong> {{ libro.disponibilidad ? 'Disponible' : 'No disponible' }}</p>
              <div class="flex justify-center my-2">
                <img [src]="libro.portada" alt="Portada del libro" class="max-w-full h-auto rounded">
              </div>
              <div class="button-group flex space-x-2">
                <button (click)="seleccionarLibro(libro)" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg transition-colors duration-200">Pedir prestado</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  