<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="container mx-auto p-5 bg-gray-50 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <div class="libro-list">
        <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <li *ngFor="let libro of libros" class="libro-item bg-white dark:bg-gray-900 rounded-lg p-4 shadow-md flex flex-col space-y-2">
            <div class="flex items-center justify-between">
              <h2 class="text-lg font-bold">{{ libro.titulo }}</h2>
              <span class="text-sm text-gray-500 dark:text-gray-400">ID: {{ libro.libroId }}</span>
            </div>
            <p><strong>Autor:</strong> {{ libro.autor }}</p>
            <p><strong>Descripción:</strong> {{ libro.descripcion }}</p>
            <p><strong>Género:</strong> {{ libro.genero }}</p>
            <p><strong>Editorial:</strong> {{ libro.editorial }}</p>
            <div class="flex justify-center my-2">
              <img [src]="libro.portada" alt="Portada del libro" class="max-w-full h-auto rounded">
            </div>
            <div class="button-group flex space-x-2">
              <button (click)="pedirPrestado(libro.libroId)" 
                      [disabled]="!libro.disponibilidad"
                      class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg transition-colors duration-200"
                      [ngClass]="{'bg-gray-500': !libro.disponibilidad, 'cursor-not-allowed': !libro.disponibilidad}">
                Pedir prestado
              </button>
              <span *ngIf="!libro.disponibilidad" class="text-red-500">Libro no disponible</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
