<app-loading *ngIf="isLoading"></app-loading>

  <router-outlet />


  <!-- 
  <app-loading *ngIf="isLoading"></app-loading> 
  - Componente: app-loading
  - Descripción: Muestra una pantalla de carga mientras `isLoading` es `true`.
  - Directiva: *ngIf
  - Condición: Se muestra solo si `isLoading` es `true`.
-->

<!-- 
  <router-outlet></router-outlet> 
  - Directiva: router-outlet
  - Descripción: Actúa como un marcador de posición para los componentes de ruta. 
  - Función: Renderiza el componente correspondiente a la ruta activa en la aplicación.
-->
