<section class="bg-white dark:bg-gray-900">


  
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"> BIBLIOTECA</h2>
      <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">
        Bienvenido a nuestra biblioteca, donde explorarás una selección cuidadosamente curada de los mejores libros en una variedad de géneros. Desde clásicos literarios hasta obras contemporáneas, nuestra colección abarca tanto ficción como no ficción, ofreciendo oportunidades de aprendizaje y entretenimiento para todos los gustos. Sumérgete en mundos imaginarios, explora nuevos conocimientos y encuentra inspiración en cada página. Explore nuestra biblioteca y descubra por qué la lectura es un viaje que nunca termina.
      </p>
    </div> 
    <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
      <!-- Primer libro -->
      <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://images.cdn2.buscalibre.com/fit-in/360x360/e3/bc/e3bcd85377567759874a0664f894a67b.jpg" alt="Harry Potter">
        </a>
        <div class="p-5">
          <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            <a href="#">Harry Potter</a>
          </h3>
          <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">Harry Potter, huérfano y viviendo con sus desagradables tíos y primo, recibe una carta que cambia su vida: es aceptado en el colegio Hogwarts de magia y hechicería, llevándolo a un mundo de magia y aventuras.</p>
          <button class="flex items-center justify-center p-2 text-gray-500 hover:text-gray-900 dark:hover:text-white" (click)="openModal('Harry Potter', 'J.K. Rowling', 35, 'Fantasía', 'Bloomsbury')">
            <span class="material-symbols-outlined">
              menu
            </span>
          </button>
        </div>
      </div>
      <!-- Final del primer libro -->

      <!-- Segundo libro -->
      <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://imagessl5.casadellibro.com/a/l/t0/45/9788466236645.jpg" alt="Don Quijote de la Mancha">
        </a>
        <div class="p-5">
          <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            <a href="#">Don Quijote de la Mancha</a>
          </h3>
          <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">"Don Quijote de la Mancha" de Miguel de Cervantes narra las aventuras de Alonso Quijano, quien se convierte en el caballero Don Quijote y, junto a su escudero Sancho Panza, recorre España enfrentando desafíos cómicos. Es una sátira de los romances de caballería y una obra maestra literaria.</p>
          <button class="flex items-center justify-center p-2 text-gray-500 hover:text-gray-900 dark:hover:text-white" (click)="openModal('Don Quijote de la Mancha', 'Miguel de Cervantes', 40, 'Clásicos', 'Alianza Editorial')">
            <span class="material-symbols-outlined">
              menu
            </span>
          </button>
        </div>
      </div>
      <!-- Final del segundo libro -->

      <!-- Tercer libro -->
      <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://imgur.com/iaBg0km" alt="1984">
        </a>
        <div class="p-5">
          <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            <a href="#">1984</a>
          </h3>
          <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">Una historia sobre un régimen totalitario y la opresión individual.</p>
          <button class="flex items-center justify-center p-2 text-gray-500 hover:text-gray-900 dark:hover:text-white" (click)="openModal('1984', 'George Orwell', 25, 'Distopía', 'Secker & Warburg')">
            <span class="material-symbols-outlined">
              menu
            </span>
          </button>
        </div>
      </div>
      <!-- Final del tercer libro -->

      <!-- Cuarto libro -->
      <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://th.bing.com/th/id/OIP.tAJ9XFM4fU8p6iwoo63E2gHaKt?rs=1&pid=ImgDetMain" alt="El arte de la guerra">
        </a>
        <div class="p-5">
          <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            <a href="#">El arte de la guerra</a>
          </h3>
          <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">"El Arte de la Guerra es un tratado militar escrito por el general chino Sun Tzu hace más de dos mil años. El libro explica cómo los líderes militares pueden alcanzar la victoria en la guerra sin recurrir a la violencia. Está compuesto por trece capítulos que abordan temas como la estrategia, la logística, la inteligencia y la diplomacia.</p>
          <button class="flex items-center justify-center p-2 text-gray-500 hover:text-gray-900 dark:hover:text-white" (click)="openModal('El arte de la guerra', 'Sun Tzu', 15, 'Estrategia militar', 'Varios')">
            <span class="material-symbols-outlined">
              menu
            </span>
          </button>
        </div>
      </div>
      <!-- Final del cuarto libro -->
    </div>
  </div>
</section>

<!-- Modal -->
<div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center z-50 bg-gray-900 bg-opacity-50">
  <div class="bg-white rounded-lg shadow-lg dark:bg-gray-800 max-w-lg mx-auto p-6 relative">
    <button class="absolute top-3 right-3 text-gray-500 hover:text-gray-900 dark:hover:text-white" (click)="closeModal()">
      <span class="material-symbols-outlined">
        close
      </span>
    </button>
    <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">{{ modalBook.title }}</h2>
    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400"><strong>Título:</strong> {{ modalBook.title }}</p>
    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400"><strong>Autor:</strong> {{ modalBook.author }}</p>
    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400"><strong>Precio:</strong> {{ modalBook.price }} $</p>
    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400"><strong>Género:</strong> {{ modalBook.genre }}</p>
    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400"><strong>Editorial:</strong> {{ modalBook.publisher }}</p>
  </div>
</div>
